<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Photos
  </div>

  <ul class="list-group list-group-flush">
    <% @user.photos.each do |picture| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/pictures/<%= picture.id %>">
          <%= picture %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
